node_modules
dist
.env
.env.local
.env.example
.env.development
.env.production
.env.test
.env.test.local
.env.test.example
.env.test.local.example
.env.test.production
.env.test.production.example
.env.test.production.local
.env.test.production.local.example